<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Lists</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Finished</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo,value in my_todos.items %}
            <tr>
                <td>{{value.name}}</td>
                <td>{{value.priority}}</td>
                <td>{{value.is_finished}}</td>
                <td>
                    <a href="{% url 'todo:detail' todo %}" class="btn btn-info">Details</a>
                    <a href="{% url 'todo:done' todo %}" class="btn btn-success">Done</a>
                    <a href="{% url 'todo:delete' todo %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'todo:edit' todo %}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>