company
{
background-color: rgb(173, 169, 169);
width: 100%;
}
employee
{
display: block;
margin-bottom: 30pt;
margin-left: 0pt;
}
name, e-mail
{
color: #ff0404;
font-size: 20pt;
}
phone
{
color: #489248;
font-size: 20pt;
}
address
{
color: #255da7;
font-size: 20pt;
}
address
{
color: #585b72;
font-size: 20pt;
}
