<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="assets/style.css">
</head>
<body>
	 <h1>Welcome</h1>
	 <form method="POST" action="/login">
		<input type="submit" value="Login">
	</form>
	<form method="POST" action="/signup">
	   <input type="submit" value="SignUp">
   </form>
</body>
</html>
