<!DOCTYPE html>
<html>
<head>
	<title>SignUp Page</title>
</head>
<body>
    <form >
    Username<input type="name" id="name"><br>
    Email<input type="email" id="email"><br>
    Password<input type="password" id="password"><br>
    <input type="submit" name="signup" value="SignUp">
</form>
</body>
</html>